.about_me_container {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.section_header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.text_container_inner {
    width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.text_container_outer {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 728px) {
    .text_container_inner {
        width: 100%;
    }
}
