.section_heading {
    font-size: clamp(2.5rem, 4vw, 8rem);
    line-height: 1.1;
    max-width: calc(4vw * 15);
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 728px) {
    .section_heading {
        line-height: normal;
        max-width: calc(4vw * 20);
    }
}